services:
  front:
    image: front:latest
    restart: always
    environment:
      GATEWAY_PATH: http://gateway:8079/api
    ports:
      - "8081:8081"

  gateway:
    image: gateway:latest
    restart: always
    environment:
      ACCOUNTS_URL: "http://accounts:8084"
      CASH_URL: "http://cash:8083"
      TRANSFER_URL: "http://transfer:8085"

  cash:
    image: cash:latest
    restart: always
    environment:
      PG_URL: jdbc:postgresql://postgres:5432/bankdb?schema=cash
      PG_USERNAME: postgres
      PG_PASSWORD: mysecretpassword
      NOTIFICATIONS_URL: "http://notifications:8082"
      ACCOUNTS_URL: "http://accounts:8084"

  transfer:
    image: transfer:latest
    restart: always
    environment:
      PG_URL: jdbc:postgresql://postgres:5432/bankdb?schema=transfer
      PG_USERNAME: postgres
      PG_PASSWORD: mysecretpassword
      NOTIFICATIONS_URL: "http://notifications:8082"
      ACCOUNTS_URL: "http://accounts:8084"

  accounts:
    image: accounts:latest
    restart: always
    environment:
      PG_URL: jdbc:postgresql://postgres:5432/bankdb?schema=accounts
      PG_USERNAME: postgres
      PG_PASSWORD: mysecretpassword
      NOTIFICATIONS_URL: "http://notifications:8082"

  notifications:
    image: notifications:latest
    restart: always

  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: bankdb
    ports:
      - "5432:5432"
