services:
  front:
    image: front:latest
    restart: always
#    environment:
#      GATEWAY_PATH: http://gateway:8079/api
#      KEYCLOAK_URL: http://0.0.0.0:8080/realms/bank-app
    ports:
      - "8081:8081"

  gateway:
    image: gateway:latest
    restart: always
#    environment:
#      ACCOUNTS_URL: "http://accounts:8084"
#      CASH_URL: "http://cash:8083"
#      TRANSFER_URL: "http://transfer:8085"
#      KEYCLOAK_URL: "http://bank-keycloak:8080/realms/bank-app"
    ports:
      - "8079:8079"

  cash:
    image: cash:latest
    restart: always
#    environment:
#      PG_URL: jdbc:postgresql://postgres:5432/bankdb?currentSchema=cash
#      PG_USERNAME: postgres
#      PG_PASSWORD: mysecretpassword
#      NOTIFICATIONS_URL: "http://notifications:8082"
#      ACCOUNTS_URL: "http://accounts:8084"
    ports:
      - "8083:8083"

  transfer:
    image: transfer:latest
    restart: always
#    environment:
#      PG_URL: jdbc:postgresql://postgres:5432/bankdb?currentSchema=transfer
#      PG_USERNAME: postgres
#      PG_PASSWORD: mysecretpassword
#      NOTIFICATIONS_URL: "http://notifications:8082"
#      ACCOUNTS_URL: "http://accounts:8084"
    ports:
      - "8085:8085"

  accounts:
    image: accounts:latest
    restart: always
#    environment:
#      PG_URL: jdbc:postgresql://postgres:5432/bankdb?currentSchema=accounts
#      PG_USERNAME: postgres
#      PG_PASSWORD: mysecretpassword
#      NOTIFICATIONS_URL: "http://notifications:8082"
    ports:
      - "8084:8084"

  notifications:
    image: notifications:latest
    restart: always

networks:
  shared-network:
    external: true