apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: proxy-ingress
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: nginx
  rules:
    - host: gateway.{{ .Release.Namespace }}.local
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: bank-gateway
                port:
                  number: 8079