apiVersion: v1
kind: Pod
metadata:
  name: healthtest
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": test
spec:
  containers:
    - name: wget
      image: busybox
      command: ['wget']
      args: ['bank-gateway:8079/actuator/health']
  restartPolicy: Never