server:
  port: 8079
spring:
  application:
    name: application-gateway
  main:
    banner-mode: off
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL}

services:
  accounts:
    url: ${ACCOUNTS_URL}
  cash:
    url: ${CASH_URL}
  transfer:
    url: ${TRANSFER_URL}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true