server:
  port: 8084

spring:
  application:
    name: accounts
  main:
    banner-mode: off
  datasource:
    url: ${PG_URL}
    username: ${PG_USERNAME}
    password: ${PG_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: "classpath:/db/changelog/db.changelog-master.yaml"
#  sql:
#    init:
#      mode: always
