server:
  port: 8082

spring:
  application:
    name: notifications
  main:
    banner-mode: off
  kafka:
    bootstrap-servers: ${KAFKA_HOST:kafka-broker-0.kafka-headless.default.svc.cluster.local:9092}
    consumer:
      group-id: bank-notifications-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: latest
      properties:
        spring:
          json:
            trusted:
              packages: "*"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true