server:
  port: 8082

spring:
  application:
    name: notifications
  main:
    banner-mode: off
  kafka:
    bootstrap-servers: ${KAFKA_HOST}
    consumer:
      group-id: bank-notifications-service
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true