server:
  port: 8082

spring:
  application:
    name: notifications
  main:
    banner-mode: off
  spring:
    security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: ${KEYCLOAK_URL:http://localhost:8080/realms/bank-app}